apiVersion: v1
kind: Service
metadata:
  name: mongo-service
  labels:
    app: mongo
spec:
  type: ClusterIP # Use ClusterIP for internal communication within the cluster
  selector:
    app: mongo
  ports:
    - protocol: TCP # MongoDB default port
      port: 27017
      targetPort: 27017
