name: Build and Push Docker Image

# Trigger the workflow on push to the main branch
on:
  push:
    branches:
      - main

# Define the jobs to be run in this workflow
jobs:
  build:
    runs-on: ubuntu-latest

    # Define the steps for the job
    steps:
      # Checkout the repository to the GitHub runner
      - name: Checkout repository
        uses: actions/checkout@v3

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build and push the Docker image
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/node-api-docker-kubernetes-argocd:latest
